article
    display: flex
    flex-direction: column
    align-items: center
    h2
        @include desktop_min
        text-align: center
        @include mobile_only
        text-align: left
        width: 80%
.functioning
    display: flex
    flex-direction: column
    align-items: center
    width: 80%
    margin-bottom: 30px
    @include desktop_min
        display: flex
        flex-direction: row
        margin-bottom: 30px
        gap: 50px
    .functioning_btn
        display: flex
        width: 100%
    button
        display: flex
        align-items: center
        justify-content: center
        padding: 20px 0 20px 0
        margin-bottom: 15px
        margin-left: -10px
        width: 100%
        @include border_btn
        @include shadow_btn
        cursor: pointer
        &:hover
            @include darken_shadow_btn
            @include lighten_color_btn
    i
        font-size: 14px
        padding-right: 20px
    .number
        border-radius: 25px
        height: 20px
        background-color: $color_primary
        color: white
        font-size: 10px
        margin-top: 17px
        padding: 4px 8px 0 6px
        z-index: 1