footer
    background-color: #353535
    h2 
        font-family: Shrikhand
        font-size: 24px
        color: white
        padding-top: 20px
        padding-left: 30px
        margin: 0
        @include desktop_min
            text-align: center
            padding-left: 0
    ul
        list-style-type: none
        color: white
        padding-left: 30px
        padding-bottom: 30px
        line-height: 1.5
        margin-bottom: 0
        @include desktop_min
            display: flex
            flex-direction: row
            justify-content: space-around
        li
            i
                font-size: 12px
                padding-right: 15px
            a
                text-decoration: none
                color: inherit