*
    box-sizing: border-box;
    font-family: 'Roboto';

header
    display: flex;
    justify-content: center;
    margin: 20px 0;
    img 
        width: 150px;

@mixin color_form 
    background-color: $grey;

$grey: #d8d8d8;
$color_primary: #9356DC;

form
    display: flex;
    justify-content: center;
    @include color_form;
    i
        margin-left: 50px;
        padding-top: 10px;
    input
        padding: 10px 0 10px 15px;
        border: none;
        @include color_form;

@mixin border_btn
    border-radius: 20px;
    border: none;

.explore
    background-color: rgb(224, 224, 224);
    box-shadow: 0px -3px grey;
    h3 , p
        text-align: center;
        margin-left: 70px;
        margin-right: 70px;
    p
        margin-left: 30px;
        margin-right: 30px;
    .explore_btn
        @include border_btn;
        padding: 10px 15px;
        margin-left: 100px;
        margin-bottom: 20px;
        cursor: pointer;
article
    margin: auto;
    width: 90%;
    h2
        margin-left: 5%;
.functioning
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    margin-bottom: 30px;
    width: 90%;
    .functioning_btn
        display: flex;
        width: 100%;
    button
        padding: 20px 50px 20px 30px;
        @include border_btn;
        margin-bottom: 15px;
        cursor: pointer;
        margin-left: -10px;
    .btn_2
        padding: 20px 55px 20px 30px;
        @include border_btn;
        margin-bottom: 15px;
        cursor: pointer;
    i
        font-size: 14px;
        padding-right: 20px;
    .number
        border-radius: 25px;
        height: 20px;
        background-color: $color_primary;
        color: white;
        font-size: 10px;
        margin-top: 17px;
        padding: 4px 8px 0 6px;
        z-index: 1;
aside
    background-color: $grey;
.restaurants
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 40px;
    h2
        padding-top: 20px;
        margin-left: -52%;
.restaurant_card
    width: 89%;
    height: 240px;
    border-radius: 20px;
    margin-bottom: 20px;
    background-color: white;
    figure
        margin: auto;
    img
        border-radius: 20px 20px 0 0;
        width: 320px; 
        height: 150px;
        object-fit: cover;
        object-position: 25% 60%;
    figcaption
        margin-left: 15px;
    p
        line-height: 0;
    .heart
        display: flex;
        margin-left: 250px;
        margin-top: -5px;
    i
        font-size: 22px;
        margin-top: -50px;

footer
    background-color: black;
    img
        width: 150px;
        filter: opacity(50%);
        padding-top: 20px;
    ul
        color: white;