header
    display: flex;
    justify-content: center;
    margin: 20px 0;
    img 
        width: 150px;
form
    display: flex;
    justify-content: center;
    i
        margin-left: 50px;
    input
        padding-left: 15px;
        border: none;
div
    background-color: grey;
    h3 , p
        text-align: center;
        margin-left: 90px;
        margin-right: 90px;
    p
        margin-left: 50px;
        margin-right: 50px;
    button
        border-radius: 20px;
        border: none;
        padding: 10px 15px;
        margin-left: 100px;
        margin-bottom: 20px;