@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto';
}

body {
  margin: 0;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 20px 0;
  -webkit-box-shadow: 0 8px 5px -5px #797979;
          box-shadow: 0 8px 5px -5px #797979;
  padding-bottom: 20px;
  margin-bottom: 3px;
}

header img {
  width: 150px;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
}

nav a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: inherit;
}

nav div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.restaurant_pic {
  width: 100%;
}

.restaurant_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 90%;
}

.restaurant_title p {
  font-size: 24px;
  font-family: 'Shrikhand';
  margin-bottom: 0;
}

.restaurant_menu {
  position: relative;
  z-index: 1;
  margin-top: -55px;
  background: #eaeaea;
  border-radius: 40px 40px 0 0;
  padding-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu_list {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.menu_list h4 {
  font-weight: 400;
  border-bottom: 3px solid #99e2d0;
  width: 11%;
  padding-bottom: 3px;
}

.menu_list p {
  width: 90%;
  padding-right: 20px;
}

footer {
  background-color: #353535;
}

footer img {
  width: 150px;
  -webkit-filter: brightness(50);
          filter: brightness(50);
  padding-top: 20px;
  padding-left: 30px;
}

footer ul {
  list-style-type: none;
  color: white;
  padding-left: 30px;
  padding-bottom: 30px;
  line-height: 1.5;
  margin-bottom: 0;
}

footer ul li i {
  font-size: 12px;
  padding-right: 15px;
}

footer ul li a {
  text-decoration: none;
  color: inherit;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  background-color: #eaeaea;
}

form i {
  margin-left: 50px;
  padding-top: 10px;
}

form input {
  padding: 10px 0 10px 15px;
  border: none;
  background-color: #eaeaea;
}

.explore {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f6f6f6;
}

.explore input {
  outline: none;
}

.explore h3, .explore p {
  text-align: center;
  margin-left: 70px;
  margin-right: 70px;
}

.explore p {
  margin-left: 30px;
  margin-right: 30px;
}

.explore .action_btn {
  border-radius: 20px;
  border: none;
  padding: 15px 20px;
  margin-bottom: 20px;
  background: -webkit-gradient(linear, right bottom, left top, from(#9356DC), to(#FF79DA));
  background: linear-gradient(to top left, #9356DC, #FF79DA);
  -webkit-box-shadow: 1px 1px 10px 8px #d7d7d7;
          box-shadow: 1px 1px 10px 8px #d7d7d7;
  color: white;
  font-size: 14px;
  cursor: pointer;
}

.explore .action_btn:hover {
  -webkit-box-shadow: 1px 1px 10px 8px #cacaca;
          box-shadow: 1px 1px 10px 8px #cacaca;
}

article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.functioning {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  margin-bottom: 30px;
}

.functioning h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
}

.functioning .functioning_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.functioning button {
  padding: 20px 0 20px 0;
  border-radius: 20px;
  border: none;
  -webkit-box-shadow: 1px 1px 10px 8px #d7d7d7;
          box-shadow: 1px 1px 10px 8px #d7d7d7;
  margin-bottom: 15px;
  width: 100%;
  margin-left: -10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.functioning button:hover {
  -webkit-box-shadow: 1px 1px 10px 8px #cacaca;
          box-shadow: 1px 1px 10px 8px #cacaca;
  background: #f2f2f2;
}

.functioning i {
  font-size: 14px;
  padding-right: 20px;
}

.functioning .number {
  border-radius: 25px;
  height: 20px;
  background-color: #9356DC;
  color: white;
  font-size: 10px;
  margin-top: 17px;
  padding: 4px 8px 0 6px;
  z-index: 1;
}

aside {
  background-color: #eaeaea;
}

.restaurants {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 40px;
}

.restaurants h2 {
  padding-top: 20px;
  margin-left: -52%;
  position: relative;
}

.restaurants h2 .new::before {
  content: "Nouveau";
  position: absolute;
  background-color: #99e2d0;
  color: #1b6150;
  margin-left: 225px;
  margin-top: 10px;
  padding: 5px 10px;
  border-radius: 3px;
}

.restaurant_card {
  width: 89%;
  height: 240px;
  border-radius: 20px;
  margin-bottom: 20px;
  background-color: white;
  -webkit-box-shadow: 0px 3px 8px #d7d7d7;
          box-shadow: 0px 3px 8px #d7d7d7;
}

.restaurant_card a {
  text-decoration: none;
  color: inherit;
}

.restaurant_card figure {
  margin: auto;
}

.restaurant_card img {
  border-radius: 20px 20px 0 0;
  width: 100%;
  height: 150px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 25% 60%;
     object-position: 25% 60%;
}

.restaurant_card figcaption {
  position: relative;
  margin-left: 15px;
}

.restaurant_card p {
  line-height: 0;
}

.restaurant_card .heart {
  position: absolute;
  right: 32px;
  top: 20%;
}

.restaurant_card .heart .fa-solid, .restaurant_card .heart .fa-regular {
  font-size: 26px;
}

.restaurant_card .heart .fa-solid:hover, .restaurant_card .heart .fa-regular:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
  background: linear-gradient(to bottom, #9356DC, #FF79DA);
  background-clip: text;
  color: transparent;
}

.restaurant_card .heart .fa-solid {
  position: relative;
  color: transparent;
}

.restaurant_card .heart .fa-regular {
  margin-right: -30px;
  position: absolute;
}
/*# sourceMappingURL=mobile.css.map */