header
    display: flex;
    justify-content: center;
    margin: 20px 0;
    img 
        width: 150px;
footer
    background-color: black;
    img
        width: 150px;
        filter: opacity(50%);
        padding-top: 20px;
    ul
        color: white;